<%= form_for @delivery_detail, as: :delivery_detail, url: set_delivery_detail_order_path(@order), html: { class: "", id: "new_delivery_detail" } do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-7 form-group">
        <label>Full Address<span class="red">*</span></label>
        <%= f.text_field :full_address, class: "form-control border-input", placeholder: "Address", required: true %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-7 form-group">
        <label>City Name<span style="color:red;">*</span></label>
        <%= f.text_field :city_name, class: "form-control border-input", placeholder: "City Name", id: 'order_territorie', required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-7 form-group">
        <label>Email<span class="red">*</span></label>
        <%= f.text_field :email, value: current_user.email, class: "form-control border-input", placeholder: "Customer Email", required: true %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-7 form-group">
        <label>Name<span style="color:red;">*</span></label>
        <%= f.text_field :name, class: "form-control border-input", placeholder: "Customer Name", required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-7 form-group">
        <label>Phone<span class="red">*</span></label>
        <%= f.text_field :phone, class: "form-control border-input", placeholder: "Customer Phone", required: true %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-7 form-group">
        <label>Pin Code<span style="color:red;">*</span></label>
        <%= f.text_field :pin_code, class: "form-control border-input", placeholder: "Pin code", required: true %>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-info btn-fill btn-wd">Save</button>
  </div>
<% end %>
