
<main class="container">
  <div class="right-column">

    <!-- Product Description -->
    <div class="product-description">
      <span><%=@product.try(:category_name)%></span>
      <h2><%=@product.try(:name)%></h2>
      <p><%=@product.try(:description)%></p>
      <div class="row">
        <div class="col-md-2">
          <span>Stock quantity</span>
        </div>
        <div class="col-md-2">
          <p><%= @product.try(:quantity)%></p>
        </div>
      </div>
    </div>

    <!-- # Product Configuration -->
    <%= form_tag(add_cart_index_path, {:method => :post}) do %>
      <div class="product-configuration">

        <div class="product-color row">
          <div class="col-md-2">
            <span>Quantity</span>
          </div>
          <div class="col-md-2">
              <%= number_field_tag 'quantity', nil, value: 1, min: 1, max: @product.try(:quantity), id: "quantity"%>
              <%= hidden_field_tag "product_id", @product.try(:id)%>
          </div>
        </div>

        <!-- # Cable Configuration -->
        <div class="cable-config">
          <span><%=@product.try(:category_description)%></span>
          <p><%=@product.try(:company_name)%></p>

          <div class="cable-choose">
          </div>
          <!-- <a href="#">How to configurate your headphones</a> -->
        </div>
      </div>

      <!-- # Product Pricing -->
      <div class="product-price">
        <span>Rs <%=@product.try(:unit_price)%></span>
        <%= submit_tag "Add to cart", class: "btn btn-block btn-lg btn-primary col-md-6"%>
      </div>
    <% end%>
  </div>
</main>
